In [184]:
## read the fuquan combine data
from package_path_define.path_define import *
from package_readdata.read_fuquan_combine import *

stk_num="000917"
df1=read_fuquan_combine(stk_num)
df2=df1.sort_values(by=['date'])
data_df1=df2.reset_index(drop=True) ## get data by date
print data_df1.head()
print len(data_df1)

G:\\stock\\data\fuquan_combine\shenzhen\000917_fuquan_all.csv
         date   open   high  close    low      volume  trade_amount  \
0  1999-03-25  19.01  20.38  18.99  18.90  32064800.0   629395704.0
1  1999-03-26  18.90  19.46  18.26  18.02   8322600.0   156266563.0
2  1999-03-29  18.20  18.47  18.01  17.71   3945300.0    70956198.0
3  1999-03-30  18.05  18.55  18.29  17.75   2168600.0    39468139.0
4  1999-03-31  18.28  18.59  18.26  18.02   1406700.0    25762359.0

   fuquan_factor
0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
3910

In [209]:
print data_df1.loc[900:1500,:]

            date    open    high   close     low     volume  trade_amount  \
900   2003-01-08  17.572  18.077  18.011  17.572   377953.0     5067600.0
901   2003-01-09  17.944  18.928  18.503  17.811  1675296.0    23273874.0
902   2003-01-10  18.596  19.393  18.649  18.356  2845311.0    40642774.0
903   2003-01-13  18.542  19.194  18.835  18.529  1027767.0    14611761.0
904   2003-01-14  18.875  19.845  19.699  18.755  2981627.0    43689918.0
905   2003-01-15  19.672  20.204  19.380  19.207  2290993.0    34070247.0
906   2003-01-16  19.420  19.792  19.619  19.313  1199587.0    17643760.0
907   2003-01-17  19.686  20.098  19.739  19.566  1406745.0    20945465.0
908   2003-01-20  19.726  20.018  19.752  19.340   931551.0    13765127.0
909   2003-01-21  19.898  20.138  19.300  19.287  1494668.0    22258942.0
910   2003-01-22  19.300  19.486  19.220  19.021   819966.0    11855414.0
911   2003-01-23  19.220  19.606  19.101  19.088   569485.0     8246859.0
912   2003-01-24  19.087  19.486  19.367  19.021   504116.0     7308083.0
913   2003-01-27  19.300  19.712  19.526  19.300   507089.0     7461275.0
914   2003-01-28  19.606  20.045  19.739  19.606   826584.0    12325801.0
915   2003-01-29  19.805  19.805  19.539  19.539   495889.0     7338163.0
916   2003-02-10  19.234  19.274  19.141  19.021   587822.0     8459017.0
917   2003-02-11  19.074  19.446  19.274  18.981   324074.0     4682284.0
918   2003-02-12  19.087  19.539  19.526  19.087   478573.0     6959611.0
919   2003-02-13  19.646  19.845  19.433  19.407   866536.0    12829247.0
920   2003-02-14  19.407  19.553  19.407  19.274   512241.0     7458465.0
921   2003-02-17  19.513  19.526  19.194  19.141   366403.0     5325437.0
922   2003-02-18  19.181  19.274  19.207  19.127   241000.0     3478378.0
923   2003-02-19  19.194  19.353  19.353  19.141   240135.0     3474288.0
924   2003-02-20  19.406  19.406  19.234  19.220   241052.0     3500116.0
925   2003-02-21  19.194  19.194  18.742  18.675   629020.0     8943788.0
926   2003-02-24  18.689  18.861  18.689  18.636   448767.0     6324791.0
927   2003-02-25  18.689  19.048  19.008  18.689   563758.0     8027431.0
928   2003-02-26  19.008  19.194  19.127  18.941   581258.0     8335766.0
929   2003-02-27  19.141  19.234  18.968  18.941   290620.0     4164125.0
...          ...     ...     ...     ...     ...        ...           ...
1471  2005-06-10  12.897  12.897  12.405  12.318  4015512.0    28656094.0
1472  2005-06-13  12.318  12.528  12.230  11.932  2824503.0    19663618.0
1473  2005-06-14  12.300  12.774  12.160  12.107  3891340.0    27615962.0
1474  2005-06-15  12.054  12.300  12.089  11.984  2098113.0    14492904.0
1475  2005-06-16  12.142  12.195  11.984  11.668  2106180.0    14297064.0
1476  2005-06-17  12.072  12.370  12.177  11.984  2898158.0    20174929.0
1477  2005-06-20  12.353  12.809  12.633  11.809  4054652.0    28812573.0
1478  2005-06-21  12.546  12.633  12.300  12.282  2359119.0    16741947.0
1479  2005-06-22  12.282  12.598  12.493  12.177  1684528.0    11914164.0
1480  2005-06-23  12.458  12.528  12.089  12.054  1754370.0    12283987.0
1481  2005-06-24  12.072  12.195  12.072  11.861  2275405.0    15565650.0
1482  2005-06-27  12.195  12.721  12.511  12.195  4003854.0    28594025.0
1483  2005-06-28  12.458  12.493  12.125  12.072  2248894.0    15735592.0
1484  2005-06-29  12.212  12.633  12.563  12.195  5440455.0    38698586.0
1485  2005-06-30  12.703  12.809  12.265  12.230  5962621.0    42667691.0
1486  2005-07-01  12.230  12.230  11.107  11.072  4975813.0    32559582.0
1487  2005-07-04  10.931  10.931  10.791  10.510  2643228.0    16039820.0
1488  2005-07-05  10.721  10.826  10.598  10.493  1623935.0     9854726.0
1489  2005-07-06  10.703  10.844  10.598  10.352  1405447.0     8533842.0
1490  2005-07-07  10.598  10.738  10.598  10.493   904644.0     5479048.0
1491  2005-07-08  10.633  10.633   9.931   9.931  2724002.0    15745620.0
1492  2005-07-11   9.650  10.194   9.124   8.949  4630370.0    25499611.0
1493  2005-07-12   9.001   9.773   9.615   8.949  3962022.0    21178937.0
1494  2005-07-13   9.563   9.650   9.335   9.264  2289460.0    12342800.0
1495  2005-07-14   9.335   9.615   9.440   9.317  2012252.0    10879794.0
1496  2005-07-15   9.440   9.615   9.054   8.966  2094946.0    11027332.0
1497  2005-07-18   9.001   9.019   8.650   8.615  2261935.0    11360674.0
1498  2005-07-19   8.510   9.089   8.966   8.510  2667577.0    13509945.0
1499  2005-07-20   8.914   9.089   8.984   8.826  1383662.0     7058412.0
1500  2005-07-21   9.036   9.036   9.036   8.738  1592011.0     8073685.0

      fuquan_factor
900           1.329
901           1.329
902           1.329
903           1.329
904           1.329
905           1.329
906           1.329
907           1.329
908           1.329
909           1.329
910           1.329
911           1.329
912           1.329
913           1.329
914           1.329
915           1.329
916           1.329
917           1.329
918           1.329
919           1.329
920           1.329
921           1.329
922           1.329
923           1.329
924           1.329
925           1.329
926           1.329
927           1.329
928           1.329
929           1.329
...             ...
1471          1.755
1472          1.755
1473          1.755
1474          1.755
1475          1.755
1476          1.755
1477          1.755
1478          1.755
1479          1.755
1480          1.755
1481          1.755
1482          1.755
1483          1.755
1484          1.755
1485          1.755
1486          1.755
1487          1.755
1488          1.755
1489          1.755
1490          1.755
1491          1.755
1492          1.755
1493          1.755
1494          1.755
1495          1.755
1496          1.755
1497          1.755
1498          1.755
1499          1.755
1500          1.755

[601 rows x 8 columns]

In [170]:
data_df1.loc[97:100,:]

,date,open,high,close,low,volume,trade_amount,fuquan_factor
97,1999-08-10,30.6,30.90,30.80,28.01,652900.0,19389230.0,1.0
98,1999-08-11,30.4,30.40,29.62,29.42,350100.0,10393410.0,1.0
99,1999-08-12,29.7,29.80,29.72,29.00,447200.0,13123773.0,1.0
100,1999-08-13,29.7,29.75,29.60,29.49,299000.0,8851274.0,1.0

In [162]:
y1=data_df1.close

0        18.990
1        18.260
2        18.010
3        18.290
4        18.260
5        17.710
6        17.720
7        18.180
8        17.890
9        17.550
10       17.460
11       17.010
12       16.650
13       16.880
14       16.940
15       17.290
16       17.230
17       16.850
18       16.960
19       16.530
20       17.180
21       17.010
22       15.680
23       15.590
24       16.010
25       16.130
26       16.000
27       15.990
28       16.230
29       16.920
         ...
3880    125.336
3881    126.356
3882    125.571
3883    123.609
3884    123.923
3885    123.452
3886    122.118
3887    122.354
3888    122.511
3889    118.273
3890    118.116
3891    119.214
3892    119.842
3893    119.685
3894    119.450
3895    111.916
3896    112.543
3897    110.503
3898    111.288
3899    114.427
3900    113.250
3901    113.721
3902    114.035
3903    112.857
3904    110.974
3905    111.131
3906    111.209
3907    110.424
3908    110.503
3909    112.936
Name: close, Length: 3910, dtype: float64

In [352]:
from sklearn import preprocessing  
ii=1000
train_sample=3
X=[]
for i in range(0,ii-train_sample+1):
    df1=data_df1.loc[i:i+2,['open','high','close','low']]
    train_data = np.array(df1)
    train_data1=np.hstack(train_data)
    X.append(train_data1.tolist())
len(X)
#print data_df1.loc[0:2,['open','high','close','low','volume']]
#print data_df1.loc[1:3,['open','high','close','low','volume']]
X1=preprocessing.scale(X)

In [361]:
import random
rand1=random.sample(xrange(998),800)
X=X1[rand1]
y5=y4[rand1]
clf = svm.SVC(C=0.9, kernel='rbf', gamma=20, decision_function_shape='ovr')
clf.fit(X, y5)  
print clf.score(X, y5)

0.76875

In [355]:
y2=y1.diff(periods=1)
#print y2[train_sample:ii+1]
y3=y2.loc[train_sample:ii,]
y3=np.array(y3)
y4=np.int64(y3>0)
print len(y4)
X=X1[0:800]
#print X
y5=y4[0:800]
clf = svm.SVC(C=0.8, kernel='rbf', gamma=20, decision_function_shape='ovr')
clf.fit(X, y5)  
print clf.score(X, y5)

998
0.77375

In [362]:
print len(X1)
prd=[]
act=[]
for i in range(900,995):
    df1=X1[i]
    prd1=clf.predict([df1.tolist()])
    prd.append(prd1[0])
    act.append(y2[i])
print prd

a2=np.array(act)
a2[a2>0]=1
a2[a2<0]=0
print a2
a3=a2.tolist()
dif1=np.subtract(prd, a3)
np.sum(np.square(dif1))/96

998
[1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1]
[ 1.  1.  1.  1.  1.  0.  1.  1.  1.  0.  0.  0.  1.  1.  1.  0.  0.  1.
  1.  0.  0.  0.  1.  1.  0.  0.  0.  1.  1.  0.  0.  1.  1.  0.  1.  1.
  0.  1.  1.  0.  0.  0.  0.  1.  0.  1.  1.  0.  0.  1.  0.  1.  1.  1.
  0.  1.  0.  0.  1.  1.  1.  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.
  0.  0.  0.  0.  1.  1.  0.  1.  0.  1.  0.  1.  0.  1.  1.  1.  1.  0.
  0.  0.  0.  0.  1.]

0.51041666666666663

In [291]:
X1[902]

array([-1.2315453 , -1.18027655, -1.22589777, -1.23085968,  1.00087197,
       -1.23716567, -1.20127956, -1.20503136, -1.21092899, -0.07527618,
       -1.20015919, -1.13026108, -1.10939415, -1.18531992,  1.37816215])

In [284]:
df1

array([-1.34460717, -1.32323831, -1.29647699, -1.31961268, -0.46627371,
       -1.30318095, -1.23016736, -1.2417538 , -1.29219649,  0.39817428,
       -1.23095519, -1.17934052, -1.22553007, -1.23048045,  1.27709385])

In [196]:
a1=clf.predict([train_data1.tolist()])
a1[0]

0

In [ ]:
clf.predict([[2., 2.]])

In [101]:
len(result)

100

In [97]:
len(result)
y2=[0,0,1]
clf = svm.SVC()
clf.fit(result, y2)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [ ]:
y1=data_df1.open
y2=y1.diff(periods=1)
print y2

In [41]:
df1=data_df1.loc[:,['open','high','close','volume']]
#df1
train_data = np.array(df1)
y1=data_df1.open-data_df1.close
y2=np.array(y1)
#map(lambda x:[0 if x<0 for i in x],y2)
y3=np.int64(y2>0)

[[  1.90100000e+01   2.03800000e+01   1.89900000e+01   3.20648000e+07]
 [  1.89000000e+01   1.94600000e+01   1.82600000e+01   8.32260000e+06]
 [  1.82000000e+01   1.84700000e+01   1.80100000e+01   3.94530000e+06]
 ...,
 [  1.11288000e+02   1.11523000e+02   1.10424000e+02   7.17736900e+06]
 [  1.10189000e+02   1.11759000e+02   1.10503000e+02   7.00538600e+06]
 [  1.10660000e+02   1.14427000e+02   1.12936000e+02   1.82479040e+07]]

In [54]:
clf = svm.SVC()
clf.fit(train_data, y3)  
clf.predict([[3,4,10,22222]])

array([0], dtype=int64)

In [18]:
import numpy as np
from sklearn.datasets import dump_svmlight_file

X = data_df1[np.setdiff1d(data_df1.columns,['open','close','date'])]
#print X
y = data_df1.fuquan_factor
dump_svmlight_file(X,y,'smvlight.dat',zero_based=True,multilabel=False)

In [27]:
import pandas as pd
df = pd.DataFrame({"x": ['011', '100', '111'] , "y": [0,1,0]})
df
data_df1

,date,open,high,close,low,volume,trade_amount,fuquan_factor
0,1999-03-25,19.010,20.380,18.990,18.900,32064800.0,629395704.0,1.000
1,1999-03-26,18.900,19.460,18.260,18.020,8322600.0,156266563.0,1.000
2,1999-03-29,18.200,18.470,18.010,17.710,3945300.0,70956198.0,1.000
3,1999-03-30,18.050,18.550,18.290,17.750,2168600.0,39468139.0,1.000
4,1999-03-31,18.280,18.590,18.260,18.020,1406700.0,25762359.0,1.000
5,1999-04-01,18.070,18.180,17.710,17.600,2363200.0,42446315.0,1.000
6,1999-04-02,18.000,18.000,17.720,17.290,2223200.0,38912871.0,1.000
7,1999-04-05,17.750,18.200,18.180,17.630,1237900.0,22197246.0,1.000
8,1999-04-06,18.100,18.450,17.890,17.850,1284800.0,23333428.0,1.000
9,1999-04-07,17.850,18.070,17.550,17.500,931200.0,16515329.0,1.000
10,1999-04-08,17.500,17.690,17.460,17.300,1070800.0,18634386.0,1.000
11,1999-04-09,17.420,17.520,17.010,16.990,1247200.0,21387779.0,1.000
12,1999-04-12,17.000,17.000,16.650,16.500,1083900.0,18091013.0,1.000
13,1999-04-13,16.520,17.100,16.880,16.520,768200.0,13000271.0,1.000
14,1999-04-14,16.780,17.100,16.940,16.680,377200.0,6388154.0,1.000
15,1999-04-15,16.880,17.650,17.290,16.550,1253000.0,21419678.0,1.000
16,1999-04-16,17.280,17.390,17.230,17.010,359800.0,6192872.0,1.000
17,1999-04-19,17.210,17.210,16.850,16.710,461800.0,7801125.0,1.000
18,1999-04-20,16.570,17.150,16.960,16.570,188600.0,3184555.0,1.000
19,1999-04-21,16.850,17.070,16.530,16.500,332700.0,5546003.0,1.000
20,1999-04-22,16.500,17.960,17.180,16.460,1216400.0,20677204.0,1.000
21,1999-04-23,17.310,17.310,17.010,16.800,349500.0,5972709.0,1.000
22,1999-04-26,16.800,16.870,15.680,15.600,1395100.0,22394207.0,1.000
23,1999-04-27,15.560,16.090,15.590,15.400,1024800.0,16088922.0,1.000
24,1999-04-28,15.650,17.090,16.010,15.650,1473000.0,24076273.0,1.000
25,1999-04-29,15.990,16.180,16.130,15.680,422200.0,6736983.0,1.000
26,1999-04-30,16.000,16.390,16.000,15.890,247100.0,3955300.0,1.000
27,1999-05-04,16.800,16.800,15.990,15.960,386200.0,6244821.0,1.000
28,1999-05-05,16.000,16.400,16.230,15.810,445500.0,7160875.0,1.000
29,1999-05-06,16.300,17.500,16.920,16.120,2426300.0,41239080.0,1.000
...,...,...,...,...,...,...,...,...
3880,2016-11-21,125.571,126.356,125.336,124.943,12834457.0,205249143.0,7.848
3881,2016-11-22,125.336,126.435,126.356,125.336,16337999.0,262116036.0,7.848
3882,2016-11-23,126.356,126.749,125.571,125.414,17858329.0,286777109.0,7.848
3883,2016-11-24,125.414,125.728,123.609,123.295,24415755.0,387407140.0,7.848
3884,2016-11-25,124.002,124.080,123.923,121.647,23755195.0,371817263.0,7.848
3885,2016-11-28,124.002,125.493,123.452,123.217,25702158.0,407246471.0,7.848
3886,2016-11-29,123.138,124.080,122.118,121.804,19232352.0,301654367.0,7.848
3887,2016-11-30,121.804,123.138,122.354,121.726,15683765.0,244327993.0,7.848
3888,2016-12-01,122.354,122.903,122.511,121.883,11945190.0,186226814.0,7.848
3889,2016-12-02,122.275,122.511,118.273,117.959,29870472.0,455589894.0,7.848
3890,2016-12-05,117.566,118.822,118.116,116.938,13953079.0,209793784.0,7.848
3891,2016-12-06,118.116,120.548,119.214,117.723,18927784.0,287476450.0,7.848
3892,2016-12-07,119.057,120.235,119.842,118.273,13408046.0,204067642.0,7.848
3893,2016-12-08,120.313,120.705,119.685,119.293,12128395.0,185290118.0,7.848
3894,2016-12-09,119.999,120.156,119.450,119.057,11703234.0,178393472.0,7.848
3895,2016-12-12,119.528,119.764,111.916,111.759,23972923.0,351855718.0,7.848
3896,2016-12-13,111.837,114.034,112.543,111.758,13077758.0,187816992.0,7.848
3897,2016-12-14,112.622,112.779,110.503,110.346,13039490.0,185038168.0,7.848
3898,2016-12-15,110.267,112.386,111.288,110.189,9062249.0,128583666.0,7.848
3899,2016-12-16,112.308,115.604,114.427,112.308,21011387.0,306024398.0,7.848
3900,2016-12-19,114.662,114.662,113.250,112.936,7097483.0,102610309.0,7.848
3901,2016-12-20,113.093,113.956,113.721,113.014,6883130.0,99445764.0,7.848
3902,2016-12-21,114.192,114.898,114.035,113.721,6905417.0,100520320.0,7.848
3903,2016-12-22,113.485,113.799,112.857,112.700,6989495.0,100795651.0,7.848
3904,2016-12-23,112.779,112.779,110.974,110.817,7978304.0,113503628.0,7.848
3905,2016-12-26,110.503,111.445,111.131,109.326,8449496.0,118804329.0,7.848
3906,2016-12-27,111.680,112.622,111.209,110.974,8293400.0,118178733.0,7.848
3907,2016-12-28,111.288,111.523,110.424,110.424,7177369.0,101425914.0,7.848
3908,2016-12-29,110.189,111.759,110.503,110.189,7005386.0,98890467.0,7.848
3909,2016-12-30,110.660,114.427,112.936,110.346,18247904.0,262192561.0,7.848

In [29]:
data_df1.x.apply(lambda x: np.array(list(map(int,close))))

AttributeError: 'DataFrame' object has no attribute 'x'

In [38]:
from sklearn import svm
X = [[0, 0], [1, 1]]
y = [0, 1]
clf = svm.SVC()
clf.fit(X, y)  
type(X)

list

In [5]:
clf.predict([[2., 2.]])

array([1])